In [1]:
import pandas as pd
import random
from string import ascii_letters
from sqlalchemy import create_engine

In [2]:
engine = create_engine("postgresql+psycopg2://postgres:postgres@34.80.51.182:5432/lifegame")

In [3]:
# sheet
import pandas as pd
sheet_id = "1yVsGksy2aNA9zA8jutpUdgtDDfoz36X7llvF_iBcuu0"
def get_sheet_df(sheet_name):
    url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
    return pd.read_csv(url)

In [26]:
# # Insert students
# account_user = get_sheet_df("Student")
# account_user['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(df))]
# account_user = account_user.drop(['instructor_group_number'], axis=1)
# account_user.to_sql("account_user", con=engine, index=False, if_exists='append')

In [36]:
# # Insert instructors
# account_user = get_sheet_df("instructor")
# account_user['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(account_user))]
# account_user = account_user.drop(['instructor_group_number', 'id'], axis=1)
# account_user.to_sql("account_user", con=engine, index=False, if_exists='append')

In [41]:
# # Insert booth_ac
# account_user = get_sheet_df("booth_ac")
# account_user['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(account_user))]
# # account_user = account_user.drop(['instructor_group_number'], axis=1)
# account_user
# account_user.to_sql("account_user", con=engine, index=False, if_exists='append')

In [45]:
# # Insert booth_booth
# df = get_sheet_df("booth")
# df
# df.to_sql("booth_booth", con=engine, index=False, if_exists='append')

In [49]:
# # Insert booth_booth_booth_admins
# df = get_sheet_df("booth")
# # df = df.iloc[1:]
# # df = df.drop('id', axis=1)
# df = df[['id', 'booth_in_charge_id']]
# df = df.rename(columns={'id': 'booth_id', 'booth_in_charge_id': 'user_id'})
# df.to_sql("booth_booth_booth_admins", con=engine, index=False, if_exists='append')

In [53]:
# # Insert booth_booth_score_options
# df = get_sheet_df("booth")
# df['boothscoring_id'] = 1
# df['booth_id'] = df['id']
# df = df[['booth_id', 'boothscoring_id']]
# df
# df.to_sql("booth_booth_score_options", con=engine, index=False, if_exists='append')

In [41]:
# # Insert booth_booth_score_options
# df = get_sheet_df("booth_booth_score_options")
# df = df.iloc[2:]
# df = df.drop('id', axis=1)
# df
# df.to_sql("booth_booth_score_options", con=engine, index=False, if_exists='append')

## Player

In [49]:
# # Insert account_user
# df = get_sheet_df("account_user")
# df = df.iloc[44:]
# df = df.drop('id', axis=1)
# df.to_sql("account_user", con=engine, index=False, if_exists='append')

In [51]:
# # Insert player_player
# df = get_sheet_df("player_player")
# df = df.drop('id', axis=1)
# df
# df.to_sql("player_player", con=engine, index=False, if_exists='append')

In [9]:
# Insert VIP
account_user = get_sheet_df("VIP")
account_user['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(account_user))]
account_user = account_user[account_user['id'].between(566,625)]
account_user.drop('profile link', axis=1, inplace=True)
account_user
account_user.to_sql("account_user", con=engine, index=False, if_exists='append')

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "account_user_pkey"
DETAIL:  Key (id)=(566) already exists.

[SQL: INSERT INTO account_user (id, password, username, email, is_staff, is_active, date_joined, user_type, first_name, last_name, nick_name, mobile, school, is_superuser, encrypted_id) VALUES (%(id)s, %(password)s, %(username)s, %(email)s, %(is_staff)s, %(is_active)s, %(date_joined)s, %(user_type)s, %(first_name)s, %(last_name)s, %(nick_name)s, %(mobile)s, %(school)s, %(is_superuser)s, %(encrypted_id)s)]
[parameters: ({'id': 566, 'password': 'pbkdf2_sha256$390000$pAKXk9CRJJLh4VifFp7MMf$qrvtmHGdhH02YTYL1mA2Hl08ht4CIMDNFtxd9q2Q7C8=', 'username': 'VIP67', 'email': 'VIP67@lionslifegame.app', 'is_staff': False, 'is_active': True, 'date_joined': '2023-02-24', 'user_type': 'vip', 'first_name': '老師1', 'last_name': '(沙田少獅)-拔萃男書院', 'nick_name': None, 'mobile': None, 'school': '(沙田少獅)-拔萃男書院', 'is_superuser': False, 'encrypted_id': 'mwhUpDXxKDxLyRVIaKGUcWNJuJuzehUQ'}, {'id': 567, 'password': 'pbkdf2_sha256$390000$pAKXk9CRJJLh4VifFp7MMf$qrvtmHGdhH02YTYL1mA2Hl08ht4CIMDNFtxd9q2Q7C8=', 'username': 'VIP68', 'email': 'VIP68@lionslifegame.app', 'is_staff': False, 'is_active': True, 'date_joined': '2023-02-24', 'user_type': 'vip', 'first_name': '老師1', 'last_name': '(沙田少獅)-英基西島中學', 'nick_name': None, 'mobile': None, 'school': '(沙田少獅)-英基西島中學', 'is_superuser': False, 'encrypted_id': 'nQARisJSXvhiZxfqRTDJrLVzyKmzoeTk'}, {'id': 568, 'password': 'pbkdf2_sha256$390000$pAKXk9CRJJLh4VifFp7MMf$qrvtmHGdhH02YTYL1mA2Hl08ht4CIMDNFtxd9q2Q7C8=', 'username': 'VIP69', 'email': 'VIP69@lionslifegame.app', 'is_staff': False, 'is_active': True, 'date_joined': '2023-02-24', 'user_type': 'vip', 'first_name': '老師1', 'last_name': '(沙田少獅)-英基南島中學', 'nick_name': None, 'mobile': None, 'school': '(沙田少獅)-英基南島中學', 'is_superuser': False, 'encrypted_id': 'mQlHyjfmZuMAgaELzGcZPBXRRuJUbMUM'}, {'id': 569, 'password': 'pbkdf2_sha256$390000$pAKXk9CRJJLh4VifFp7MMf$qrvtmHGdhH02YTYL1mA2Hl08ht4CIMDNFtxd9q2Q7C8=', 'username': 'VIP70', 'email': 'VIP70@lionslifegame.app', 'is_staff': False, 'is_active': True, 'date_joined': '2023-02-24', 'user_type': 'vip', 'first_name': '老師1', 'last_name': '(沙田少獅)-香港加拿大國際學校', 'nick_name': None, 'mobile': None, 'school': '(沙田少獅)-香港加拿大國際學校', 'is_superuser': False, 'encrypted_id': 'mFaWwltavnVoCdfXgOqsfIpieossIjMt'}, {'id': 570, 'password': 'pbkdf2_sha256$390000$pAKXk9CRJJLh4VifFp7MMf$qrvtmHGdhH02YTYL1mA2Hl08ht4CIMDNFtxd9q2Q7C8=', 'username': 'VIP71', 'email': 'VIP71@lionslifegame.app', 'is_staff': False, 'is_active': True, 'date_joined': '2023-02-24', 'user_type': 'vip', 'first_name': '老師1', 'last_name': '(沙田少獅)-嘉諾撒書院', 'nick_name': None, 'mobile': None, 'school': '(沙田少獅)-嘉諾撒書院', 'is_superuser': False, 'encrypted_id': 'FYiHJzXhkCiJKgpxUXruaBOyPRUtxpVQ'}, {'id': 571, 'password': 'pbkdf2_sha256$390000$pAKXk9CRJJLh4VifFp7MMf$qrvtmHGdhH02YTYL1mA2Hl08ht4CIMDNFtxd9q2Q7C8=', 'username': 'VIP72', 'email': 'VIP72@lionslifegame.app', 'is_staff': False, 'is_active': True, 'date_joined': '2023-02-24', 'user_type': 'vip', 'first_name': '老師1', 'last_name': '(沙田少獅)-德瑞國際中學', 'nick_name': None, 'mobile': None, 'school': '(沙田少獅)-德瑞國際中學', 'is_superuser': False, 'encrypted_id': 'EnimOTXofKDZdfooNgVddruYToLkyFcY'}, {'id': 572, 'password': 'pbkdf2_sha256$390000$pAKXk9CRJJLh4VifFp7MMf$qrvtmHGdhH02YTYL1mA2Hl08ht4CIMDNFtxd9q2Q7C8=', 'username': 'VIP73', 'email': 'VIP73@lionslifegame.app', 'is_staff': False, 'is_active': True, 'date_joined': '2023-02-24', 'user_type': 'vip', 'first_name': '老師1', 'last_name': '(沙田少獅)-德瑞國際學校', 'nick_name': None, 'mobile': None, 'school': '(沙田少獅)-德瑞國際學校', 'is_superuser': False, 'encrypted_id': 'xCYXZWVvQVPKwXUTlDPsWzovABYomxEL'}, {'id': 573, 'password': 'pbkdf2_sha256$390000$pAKXk9CRJJLh4VifFp7MMf$qrvtmHGdhH02YTYL1mA2Hl08ht4CIMDNFtxd9q2Q7C8=', 'username': 'VIP74', 'email': 'VIP74@lionslifegame.app', 'is_staff': False, 'is_active': True, 'date_joined': '2023-02-24', 'user_type': 'vip', 'first_name': '老師1', 'last_name': '(沙田少獅)-International College Hong Kong', 'nick_name': None, 'mobile': None, 'school': '(沙田少獅)-International College Hong Kong', 'is_superuser': False, 'encrypted_id': 'aGVsARowgcWmpigUoNOfyyLRqfTzwFIy'}  ... displaying 10 of 60 total bound parameter sets ...  {'id': 624, 'password': 'pbkdf2_sha256$390000$pAKXk9CRJJLh4VifFp7MMf$qrvtmHGdhH02YTYL1mA2Hl08ht4CIMDNFtxd9q2Q7C8=', 'username': 'VIP125', 'email': 'VIP125@lionslifegame.app', 'is_staff': False, 'is_active': True, 'date_joined': '2023-02-24', 'user_type': 'vip', 'first_name': '老師2', 'last_name': '優才(楊殷有娣)書院', 'nick_name': None, 'mobile': None, 'school': '優才(楊殷有娣)書院', 'is_superuser': False, 'encrypted_id': 'RZzcUFgvbRmDIwCoKZFOEjyEwbSuZkly'}, {'id': 625, 'password': 'pbkdf2_sha256$390000$pAKXk9CRJJLh4VifFp7MMf$qrvtmHGdhH02YTYL1mA2Hl08ht4CIMDNFtxd9q2Q7C8=', 'username': 'VIP126', 'email': 'VIP126@lionslifegame.app', 'is_staff': False, 'is_active': True, 'date_joined': '2023-02-24', 'user_type': 'vip', 'first_name': '老師2', 'last_name': '禮賢會彭學高紀念中學', 'nick_name': None, 'mobile': None, 'school': '禮賢會彭學高紀念中學', 'is_superuser': False, 'encrypted_id': 'iZDZvNvDkaXKAfFnTmfZXHxmPlMJwdeA'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [25]:
# # Insert player_player
# df = get_sheet_df("player_player")
# df
# df.to_sql("player_player", con=engine, index=False, if_exists='append')

In [19]:
# # # Insert booth scoring
# df = get_sheet_df("booth_boothscoring")
# # df['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(df))]
# df = df.drop(['id', 'original booth'], axis=1)
# df = df[df['display_name'].notnull()]
# df.to_sql("booth_boothscoring", con=engine, index=False, if_exists='append')

In [26]:
# # Insert booth score option
df = get_sheet_df("booth_boothscoring")
# df['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(df))]
df = df[['id', 'original booth']]
df = df[df['id'].notnull()]
df = df.rename(columns={'id': 'boothscoring_id', 'original booth': 'booth_id'})
df.to_sql("booth_booth_score_options", con=engine, index=False, if_exists='append')

In [23]:
df

    boothscoring_id booth_id
0             106.0    A1_小學
1             107.0    A1_小學
2             108.0    A1_中學
3             109.0    A1_中學
4             110.0       A2
..              ...      ...
78            180.0  W2_建築工人
79            181.0   W2_建築師
80            182.0       W3
81            183.0       W4
82            184.0       W4

[83 rows x 2 columns]