In [1]:
import pandas as pd
import random
from string import ascii_letters
from sqlalchemy import create_engine

In [2]:
engine = create_engine("postgresql+psycopg2://postgres:postgres@34.80.51.182:5432/lifegame")

In [3]:
# sheet
import pandas as pd
sheet_id = "1yVsGksy2aNA9zA8jutpUdgtDDfoz36X7llvF_iBcuu0"
def get_sheet_df(sheet_name):
    url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
    return pd.read_csv(url)

In [26]:
# # Insert students
# account_user = get_sheet_df("Student")
# account_user['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(df))]
# account_user = account_user.drop(['instructor_group_number'], axis=1)
# account_user.to_sql("account_user", con=engine, index=False, if_exists='append')

In [36]:
# # Insert instructors
# account_user = get_sheet_df("instructor")
# account_user['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(account_user))]
# account_user = account_user.drop(['instructor_group_number', 'id'], axis=1)
# account_user.to_sql("account_user", con=engine, index=False, if_exists='append')

In [41]:
# # Insert booth_ac
# account_user = get_sheet_df("booth_ac")
# account_user['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(account_user))]
# # account_user = account_user.drop(['instructor_group_number'], axis=1)
# account_user
# account_user.to_sql("account_user", con=engine, index=False, if_exists='append')

In [45]:
# # Insert booth_booth
# df = get_sheet_df("booth")
# df
# df.to_sql("booth_booth", con=engine, index=False, if_exists='append')

In [49]:
# # Insert booth_booth_booth_admins
# df = get_sheet_df("booth")
# # df = df.iloc[1:]
# # df = df.drop('id', axis=1)
# df = df[['id', 'booth_in_charge_id']]
# df = df.rename(columns={'id': 'booth_id', 'booth_in_charge_id': 'user_id'})
# df.to_sql("booth_booth_booth_admins", con=engine, index=False, if_exists='append')

In [53]:
# # Insert booth_booth_score_options
# df = get_sheet_df("booth")
# df['boothscoring_id'] = 1
# df['booth_id'] = df['id']
# df = df[['booth_id', 'boothscoring_id']]
# df
# df.to_sql("booth_booth_score_options", con=engine, index=False, if_exists='append')

In [41]:
# # Insert booth_booth_score_options
# df = get_sheet_df("booth_booth_score_options")
# df = df.iloc[2:]
# df = df.drop('id', axis=1)
# df
# df.to_sql("booth_booth_score_options", con=engine, index=False, if_exists='append')

## Player

In [49]:
# # Insert account_user
# df = get_sheet_df("account_user")
# df = df.iloc[44:]
# df = df.drop('id', axis=1)
# df.to_sql("account_user", con=engine, index=False, if_exists='append')

In [51]:
# # Insert player_player
# df = get_sheet_df("player_player")
# df = df.drop('id', axis=1)
# df
# df.to_sql("player_player", con=engine, index=False, if_exists='append')

In [15]:
# # Insert VIP
# account_user = get_sheet_df("VIP")
# account_user['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(account_user))]
# account_user
# account_user.to_sql("account_user", con=engine, index=False, if_exists='append')

In [25]:
# # Insert player_player
# df = get_sheet_df("player_player")
# df
# df.to_sql("player_player", con=engine, index=False, if_exists='append')

In [19]:
# # # Insert booth scoring
# df = get_sheet_df("booth_boothscoring")
# # df['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(df))]
# df = df.drop(['id', 'original booth'], axis=1)
# df = df[df['display_name'].notnull()]
# df.to_sql("booth_boothscoring", con=engine, index=False, if_exists='append')

In [26]:
# # Insert booth score option
df = get_sheet_df("booth_boothscoring")
# df['encrypted_id'] = [''.join(random.choice(ascii_letters) for x in range(32)) for _ in range(len(df))]
df = df[['id', 'original booth']]
df = df[df['id'].notnull()]
df = df.rename(columns={'id': 'boothscoring_id', 'original booth': 'booth_id'})
df.to_sql("booth_booth_score_options", con=engine, index=False, if_exists='append')

In [23]:
df

    boothscoring_id booth_id
0             106.0    A1_小學
1             107.0    A1_小學
2             108.0    A1_中學
3             109.0    A1_中學
4             110.0       A2
..              ...      ...
78            180.0  W2_建築工人
79            181.0   W2_建築師
80            182.0       W3
81            183.0       W4
82            184.0       W4

[83 rows x 2 columns]